<head>
<link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
</head>


<body id="circle">
<div class="container">
  <div class="chart">

    <div style:"margin:auto;">
      <a class="lighthouse_image_stats" href="/users" >
      <img  id="lighthouse_image" src="http://www.lighthouselabs.ca/static-assets/lighthouse-labs.png"> 
      </a>
    </div>
  </div>

<div style:"margin:auto;">
<h1 id="stats-title">TRIBUTE STATS </h1>
</div>
   <h1 id="stats-sub-title">RUBY POINTS</h1>
  <div class="points_chart" id="ruby_chart"></div>
   <h1 id="stats-sub-title">HTML/CSS POINTS</h1>
  <div class="points_chart" id="html_chart"></div>
   <h1 id="stats-sub-title">DATABASE POINTS</h1>
  <div class="points_chart" id="database_chart"></div>
   <h1 id="stats-sub-title">HOURS UNTIL DEATH</h1>
  <div class="points_chart" id="time_chart"></div>
  </div>
</div>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Tributes');
    data.addColumn('number', 'Ruby Points');
    data.addColumn({type: 'string', role: 'style'});
    data.addRows(<%= @ruby_arr_of_arr %>);

    
    // Set chart options
    var options = {'title':'Ruby Points',
                   'width':1200,
                   'is3D':true,
                   'backgroundColor': '#060608',
                   'height':700,
                   'legend':'none',
                   'hAxis': {'textStyle':{'color': '#FFF'},},
                   'vAxis': {'textStyle':{'color': '#FFF'},},
                   'chartArea':{'left':200,'top':0,'right':0, 'bottom':100, 'width':"100%", 'height':"80%"}
                   // hAxis: {title: "Years" , direction:-1, slantedText:true, slantedTextAngle:90 }
                 };
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.BarChart(document.getElementById('ruby_chart'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Tributes');
    data.addColumn('number', 'HTML Points');
    data.addColumn({type: 'string', role: 'style'});
    data.addRows(<%= @html_arr_of_arr %>);
    // Set chart options
    var options = {'title':'HTML Points',
                   'width':1200,
                   'is3D':true,
                   'backgroundColor': '#060608',
                   'height':700,
                   'legend':'none',
                   'hAxis': {'textStyle':{'color': '#FFF'},},
                   'vAxis': {'textStyle':{'color': '#FFF'},},
                   'chartArea':{'left':200,'top':0,'right':0, 'bottom':100, 'width':"100%", 'height':"80%"}
                   // hAxis: {title: "Years" , direction:-1, slantedText:true, slantedTextAngle:90 }
                 };
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.BarChart(document.getElementById('html_chart'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Tributes');
    data.addColumn('number', 'Database Points');
    data.addColumn({type: 'string', role: 'style'});
    data.addRows(<%= @database_arr_of_arr %>);
    // Set chart options
    var options = {'title':'Database Points',
                   'width':1200,
                   'is3D':true,
                   'backgroundColor': '#060608',
                   'height':700,
                   'legend':'none',
                   'hAxis': {'textStyle':{'color': '#FFF'},},
                   'vAxis': {'textStyle':{'color': '#FFF'},},
                   'chartArea':{'left':200,'top':0,'right':0, 'bottom':100, 'width':"100%", 'height':"80%"}
                   // hAxis: {title: "Years" , direction:-1, slantedText:true, slantedTextAngle:90 }
                 };
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.BarChart(document.getElementById('database_chart'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);
  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Tributes');
    data.addColumn('number', 'Hours Remaining');
    data.addColumn({type: 'string', role: 'style'});
    data.addRows(<%= @time_left_arr_of_arr %>);
    // Set chart options
    var options = {'title':'Hours Remaining',
                   'width':1200,
                   'is3D':true,
                   'backgroundColor': '#060608',
                   'height':700,
                   'legend':'none',
                   'hAxis': {'textStyle':{'color': '#FFF'},},
                   'vAxis': {'textStyle':{'color': '#FFF'},},
                   'chartArea':{'left':200,'top':0,'right':0, 'bottom':100, 'width':"100%", 'height':"80%"}
                   // hAxis: {title: "Years" , direction:-1, slantedText:true, slantedTextAngle:90 }
                 };
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.BarChart(document.getElementById('time_chart'));
    chart.draw(data, options);
  }
</script>
</body>

