h1 {
 font-family: Verdana;
}

legend {
 font-family: Verdana;
}

button#load_contacts {
 font-family: Verdana;
}

button#new_contact {
 font-family: Verdana;
}

table { 
color: #333; /* Lighten up font color */
font-family: Verdana, Helvetica, Arial, sans-serif; /* Nicer font */
width: 640px; 
border-collapse: 
collapse; border-spacing: 0; 
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
text-align: center;
background: #F3F3F3  ; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA  ; /* Lighter grey background */
text-align: center; /* Center our text */
}

table#contacts {
 margin-left: 25px;
 margin: auto;
}
